body {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Slabo 27px', serif;
}

.parallax {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
  
  /*https://static.pexels.com/photos/167964/pexels-photo-167964.jpeg*/
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cara-width {
  width: inherit;
}

#aboutus {
  top: 100px;
}

.container-aboutUs {
  height: 500px;
}

.container-aboutText {
  height: 500px;
}

.inner-text {
  top: 500px;
  display: inline-block;
}

.services {
  height: 250px;
  width: auto;
}

#services-position {
  top: 500px;
}

.services-text {
  display: inline-block;
  top: 650px
}

.address {
  top: 1200px;
  float: left;
}

.socialButton {
  top: 1200px;
  float: right;
}

.contact {
  top: 1000px;
}

.copyRight {
  top: 1300px;
}